# Node and vendor dependencies
/node_modules
/vendor

# Build files
/public/build
/public/hot

# Storage files
/public/storage
/storage/*.key

# Laravel environment
/.env
.env.example
.env.backup
.env.production

# IDE configurations
/.idea
/.vscode
/.phpactor.json
/.phpunit.cache
/.phpunit.result.cache

# Logs and debug files
npm-debug.log
yarn-error.log

# Fleet, Homestead, Zed
/.fleet
Homestead.json
Homestead.yaml
/.zed
